<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <h1 class="text-center text-success">Crop Yield Prediction Per Country</h1>
    <div class="container my-4 mt-4" style="background-color: black; border-radius: 20px; color: white; display: flex; flex-direction: column; align-items: center;">
        <h1 class="text-center text-danger"> Input all features here</h1>
        <form action="/predict" method="post">
            <div class="form-group">
                <label style="width: 55%;">Year</label>
                <input type="number" name="Year" value="2013">
            </div>
            <div class="form-group">
                <label style="width: 55%;">average_rain_fall_mm_per_year</label>
                <input type="number" name="average_rain_fall_mm_per_year">
            </div>
            <div class="form-group">
                <label style="width: 55%;">pesticides_tonnes</label>
                <input type="number" name="pesticides_tonnes">
            </div>
            <div class="form-group">
                <label style="width: 55%;">avg_temp</label>
                <input type="number" name="avg_temp">
            </div>
            <div class="form-group">
                <label style="width: 55%;">Area</label>
                <input type="text" name="Area">
            </div>
            <div class="form-group">
                <label style="width: 55%;">Item</label>
                <input type="text" name="Item">
            </div>
            <button  type="submit" >Predict Yield</button>
        </form>

        {% if prediction %}
            <h1>Predicted yield: {{prediction}}</h1>
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>

</html>